<div class="container">
    <button class="category_btn" id="category_btn">Categories
        <svg class="svg-icon" id="arrow" role="img" height="14" width="8" viewBox="0 0 56 32" aria-hidden="true"
            focusable="false">
            <path d="M6.58 0l-6.58 6.089 28 25.911 28-25.911-6.58-6.089-21.42 19.779-21.42-19.779z" />
        </svg>
    </button>
    <div class="category_dropdown" id="category_dropdown">
        <a href="">asdfasd</a>
        <a href="">asdfasd</a>
        <a href="">asdfasd</a>
        <a href="">asdfasd</a>
        <a href="">asdfasd</a>
        <a href="">asdfasd</a>
        <a href="">asdfasd</a>
        <a href="">asdfasd</a>
        <a href="">asdfasd</a>
        <a href="">asdfasd</a>
    </div>