<div class="container category-container">
  <section class="category">
    <div class="category_notdropdownbtn_container"></div>
    <div class="category_dropbtn_container">
      <button class="category_btn" id="category_btn">
        Categories
        <svg class="category_svg_icon" id="arrow" role="img" height="14" width="8" viewBox="0 0 56 32" aria-hidden="true"
          focusable="false">
          <path d="M6.58 0l-6.58 6.089 28 25.911 28-25.911-6.58-6.089-21.42 19.779-21.42-19.779z" />
        </svg>
      </button>
      <div class="category_dropdown" id="category_dropdown"></div>
    </div>
  </section>
  <section class="calendar">
    <div class="calendar__wrap">
      <form class="calendar__form">
        <label class="calendar__label" for="input-datepicker"
          >Search date news</label
        >
        <div class="calendar__input flatpickr" id="flatpickr">
          <input
            class="flatpickr-input"
            type="text"
            id="input-flatpickr"
            placeholder="Select date"
            data-input
          />
          <a
            class="input-button calendar__button calendar__button--left"
            title="toggle"
            data-toggle
          >
            <svg
              class="calendar__icon icon-calendar"
              width="17"
              height="17"
            >
              <use href="./img/symbol-defs.svg#icon-calendar"></use>
            </svg>
          </a>
          <a
            class="input-button calendar__button calendar__button--right arrow-down"
            title="open"
            data-open
          >
            <svg
              class="calendar__icon icon-open"
              width="9"
              height="15"
            >
              <use href="./img/symbol-defs.svg#icon-arrow-down"></use>
            </svg>
          </a>
          <a
            class="input-button calendar__button calendar__button--right arrow-up is-hidden"
            title="close"
            data-close
          >
            <svg
              class="calendar__icon icon-close"
              width="9"
              height="15"
            >
              <use href="./img/symbol-defs.svg#icon-arrow-up"></use>
            </svg>
          </a>
        </div>
      </form>
    </div>
  </section>
</div>
