<div class="cards__list">
  <ul class="cards__list-items">
    <li class="card__item">
      <div class="card__thumb">
        <img class="favorite__images" src="">
      <h1 class="favorite__images-header">8 tips for passing an online interview that will help you get a job</h1>
    <p>
      Before you start looking for a job, it is useful to familiarize yourself with the job prospects offered by these...
    </p></div>
      </li>
    <li class="card__item">
      <div class="card__thumb">
        <img class="favorite__images" src="">
      <h1 class="favorite__images-header">How to create an effective work-at-home policy</h1>
    <p>
      Before you start looking for a job, it is useful to familiarize yourself with the job prospects offered by these...
    </p></div>
      </li>
    <li class="card__item">
      <div class="card__thumb">
        <img class="favorite__images" src="">
      <h1 class="favorite__images-header">8 tips for passing an online interview that will help you get a job</h1>
    <p>
      Before you start looking for a job, it is useful to familiarize yourself with the job prospects offered by these...
    </p></div>
      </li>
    <li class="card__item">
      <div class="card__thumb">
        <img class="favorite__images" src="">
      <h1 class="favorite__images-header">How to create an effective work-at-home policy</h1>
    <p>
      Before you start looking for a job, it is useful to familiarize yourself with the job prospects offered by these...
    </p></div>
      </li>
    <li class="card__item">
      <div class="card__thumb">
        <img class="favorite__images" src="">
      <h1 class="favorite__images-header">How to create an effective work-at-home policy</h1>
    <p>
      Before you start looking for a job, it is useful to familiarize yourself with the job prospects offered by these...
    </p></div>
      </li>
  </ul>
</div>