<header class="header">
  <div class="container header__container">

    <a class="logo link" href="./index.html">News</a>

    <nav class="navigation">
      <ul class="menu list">
        <li class="menu__item">
          <a class="menu__link link menu__link--current" href="./index.html">Home</a>
        </li>
        <li class="menu__item">
          <a class="menu__link link" href="#">Favorite</a>
        </li>
        <li class="menu__item">
          <a class="menu__link link" href="#">Read</a>
        </li>
      </ul>
    </nav>

    <form class="form">
      <div class="input__wrap">
      <input class="form__input" placeholder="Search |" type="text" />
      <svg class="search__input__icon" width="20" height="19">
        <use href="./img/symbol-defs.svg#icon-search"></use>
      </svg>
    </div>
    </form>

    <!-- <div class="switch">
      <p class="switch__name">Light</p>
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
      <p class="switch__name">Dark</p>
    </div> -->

  </div>
</header>