.calendar__wrap {
  position: relative;
  width: 151px;

  @include tablet {
    width: 168px;
  }
  @include desktop {
    width: 450px;
    margin-right: 36px;
    display: flex;
  }
}

.calendar__form {
  position: relative;
  width: 100%;
  @include desktop {
    display: flex;
    align-items: baseline;
  }
}

.calendar__label {
  display: none;

  @include desktop {
    display: block;
    margin-right: auto;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(25 / 18);
  }
}

.calendar__input {
  position: relative;
}

input.flatpickr-input {
  width: 100%;
  height: 31px;
  padding-left: 44px;
  padding-right: 41px;
  border: 1px solid #111321;
  border-radius: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(21 / 14);
  background-color: inherit;
  color: #A2A2A2;
  cursor: pointer;

  @include tablet {
    padding-left: 46px;
    padding-right: 45px;
    font-size: 14px;
  }
}

input.flatpickr-input.is-clicked{
  background-color: $accent-color;
  color: $light-text-color;
  outline: none;
  border: transparent;
  &::placeholder {
    color: $light-text-color;
  }
}

.calendar__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: baseline;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.calendar__button--left {
  fill: $accent-color;
  left: 14px;
}
.calendar__button--left.is-clicked {
fill: $light-text-color;
}

.calendar__button--right {
  right: 11px;
}
.calendar__button--right.arrow-down {
fill: #A2A2A2;
}
.calendar__button--right.arrow-up {
fill: $light-text-color;
}

.flatpickr-calendar {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  padding: 27px 16px 20px 16px;
  width: 250px;
  height: 250px;
  transform: translateY(-100%);
  background-color: #f8f8f8;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  z-index: 10;
  overflow: hidden;
  transition: transform 250ms linear, opacity 250ms cubic-bezier(.4,0,.2,1),
    visibility 250ms cubic-bezier(.4,0,.2,1);
  font-family: inherit;
  font-style: normal;
}

.flatpickr-calendar.open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  z-index: 999;
  transform: translateY(0%);
}

.flatpickr-months {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 13px;
  width: 100%;
  height: 22px;
  position: relative;
}

.flatpickr-prev-month,
.flatpickr-next-month {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.flatpickr-prev-month {
position: relative;
  top: 0px;
  right: -170px;
}

.flatpickr-months svg {
  display: block;
  
}

.flatpickr-icon {
  transform: rotate(90deg);
  width: 9px;
  height: 17px;
  fill: $accent-color;
}

.flatpickr-current-month {
  width: 200px;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  flex-wrap: nowrap;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: -0.408px;
  font-feature-settings: 'case' on;
}

.cur-month {margin-right: 5px;}

.numInputWrapper {
  display: flex;
  width: 70px;
}

.numInputWrapper span {
  display: inline-block;
}

.cur-year {
  outline: none;
  border: transparent;
  background-color: transparent;
  width: 100%;
}
.arrowUp {
  display: block;
  fill: $accent-color;
  width: 7px;
  height: 12px;
  z-index: 15;
}

.arrowDown {
  display: block;
  fill: $accent-color;
  width: 7px;
  height: 12px;
  z-index: 15;
}

.flatpickr-weekdaycontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 14px;
}

.flatpickr-weekday {
  flex-basis: calc(100% / 7);
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.08px;
}

.dayContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flatpickr-day {
  flex-basis: calc(100% / 7);
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.38px;
  cursor: pointer;
}

.flatpickr-day.selected {
  background-color: $accent-color;
  color: $light-text-color;
  border-radius: 50%;
}

.flatpickr-day.disabled,
.flatpickr-day.disabled:hover {
  pointer-events: none;
}
.flatpickr-day.disabled,
.flatpickr-day.disabled:hover,
.flatpickr-day.prevMonthDay,
.flatpickr-day.nextMonthDay,
.flatpickr-day.notAllowed,
.flatpickr-day.notAllowed.prevMonthDay,
.flatpickr-day.notAllowed.nextMonthDay {
  color: rgba(57,57,57,0.3);
  background: transparent;
  border-color: transparent;
  cursor: default;
}

.no-news {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 20px;
  font-weight: 500;
  font-size: 18px;
  @include tablet {
    font-size: 28px;
    width: 700px;
  }
}

// input[type="date"] {
//   -webkit-appearance: none !important;
//   -moz-appearance: none !important;
//   appearance: none !important;
//   opacity: 0 !important;
// }

input[type="hidden"] {
  // -webkit-appearance: auto !important;
  // -moz-appearance: auto !important;
  // appearance: auto !important;
  opacity: 1 !important;
  // position: relative;
  // z-index: 1000;
}