.header {
    padding-top: 28px;
    padding-bottom: 28px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header__container {
    display: flex;
    align-items: baseline;
}

.logo {
    font-family: $basic-font;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    color: $dark-text-color;
    margin-right: 102px;
}

.navigation {
    margin-right: 147px;
}

.menu {
    display: flex;
    gap: 69px;
    align-items: center;
}

.menu__link {
    font-family: $basic-font;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.39;
    color: $dark-text-color;
}

.menu__link--current {
    position: relative;

    &::after {
        content: " ";
        position: absolute;
        bottom: -7px;
        left: -2px;
        display: inline-block;
        width: 110%;
        height: 0px;
        border: 1px solid #4440F7;
    }
}

.form {
    margin-right: 147px;
}

.input__wrap {
    position: relative;
}

.form__input {
    width: 288px;
    height: 31px;
    border: 1px solid #111321;
    border-radius: 20px;
    padding-left: 48px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.02em;
    color: #111321;
}

.search__input__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
}

// .switch__name {
//     font-family: 'Poppins';
//     font-weight: 400;
//     font-size: 18px;
//     line-height: 1.33;
//     color: #5F6775;
// }