.tui-pagination {
  display: flex;
  justify-content: center;

  gap: 8px;
  height: 31px;

  @include mobile {
    margin: 40px 0 60px !important;
  }

  @include tablet {
    margin: 48px 0 100px !important;
  }

  @include desktop {
    margin: 60px 0 150px !important;
  }
  line-height: normal;
  text-align: center;
  font-size: 0;
}
// .tui-pagination .tui-prev {
//   margin-right: 0 !important;
// }

.tui-pagination .tui-next {
  margin-left: 0 !important;
}

.tui-pagination .tui-page-btn {
  width: 33px !important;
  height: 31px !important;
  border: 1px solid $accent-color !important;
  border-radius: 2px !important;
  font-family: $basic-font !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 22px !important;
  display: inline-flex !important;

  align-items: center !important;
  justify-content: center !important;
  background-color: #fff !important;
  color: $dark-text-color !important;
}
.tui-pagination .tui-is-selected,
.tui-pagination strong {
  background-color: #4440f7 !important;
  color: $light-bg-color !important;
}

.tui-pagination .tui-prev-is-ellip,
.tui-pagination .tui-next-is-ellip {
  border: none !important;
}

// .tui-pagination .tui-first,
// .tui-pagination .tui-last,
// .tui-pagination .tui-next,
// .tui-pagination .tui-next-is-ellip,
// .tui-pagination .tui-prev,
// .tui-pagination .tui-prev-is-ellip {
//   font-size: 16px !important;
//   font-family: $basic-font !important;
// }
