.accordion {
  justify-content: center;
  align-items: center;

  border: none;
  border-bottom: 0.1px solid #929292;
  // background-color: $light-text-color;
  background-color: transparent;
  cursor: pointer;
  padding-bottom: 12px;
  margin-top: 60px;
  width: 100%;
  text-align: left;
  outline: none;
  transition: 0.4s;

  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  display: flex;
  // opacity: 0;
  flex-wrap: wrap;
  // background-color: white;
  overflow: hidden;
  gap: 30px;
  margin-top: 40px;
  transition: opacity $transition-time;
}
.button__arrow-svg {
  width: 15px;
  height: 9px;
  margin-left: 8px;
  transform: rotate(0deg);
  transition: transform $transition-time;
}

.accordion.active .button__arrow-svg {
  transform: rotate(180deg);
}
